openapi: 3.0.0
info:
  title: L2S API
  description: This is the API documentation for the L2S service.
  version: 1.0.0
servers:
  - url: https://api.l2s.is
    description: Production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        response:
          type: object
          properties:
            message:
              type: string
              example: 'Operation successful'
            data:
              type: object
              additionalProperties: true

    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        response:
          type: object
          properties:
            message:
              type: string
              example: 'Error occurred'
            field:
              type: string
              example: 'field_name'
            suggestion:
              type: string
              example: 'Provide a valid value'

paths:
  /url:
    post:
      summary: Shorten a URL
      description: This endpoint shortens a given long URL.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL to be shortened
                  example: 'https://example.com/very/long/url'
                customKey:
                  type: string
                  description: Custom key for the shortened URL
                utmSource:
                  type: string
                  description: UTM source parameter
                utmMedium:
                  type: string
                  description: UTM medium parameter
                utmCampaign:
                  type: string
                  description: UTM campaign parameter
                utmTerm:
                  type: string
                  description: UTM term parameter
                utmContent:
                  type: string
                  description: UTM content parameter
                title:
                  type: string
                  description: Title for the shortened URL
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags associated with the URL
              required:
                - url
      responses:
        '200':
          description: URL shortened successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'internal server error'

  /url/{id}:
    get:
      summary: Get URL details
      description: This endpoint retrieves details of a shortened URL by its ID.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The ID of the shortened URL
      responses:
        '200':
          description: URL details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'internal server error'

    put:
      summary: Update URL details
      description: This endpoint updates details of a shortened URL by its ID.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The ID of the shortened URL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The new URL to be shortened
                tags:
                  type: array
                  items:
                    type: string
                  description: Updated tags associated with the URL
                utmSource:
                  type: string
                  description: Updated UTM source parameter
                utmMedium:
                  type: string
                  description: Updated UTM medium parameter
                utmCampaign:
                  type: string
                  description: Updated UTM campaign parameter
                utmTerm:
                  type: string
                  description: Updated UTM term parameter
                utmContent:
                  type: string
                  description: Updated UTM content parameter
      responses:
        '200':
          description: URL updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'internal server error'

  /user/setting:
    get:
      summary: Get user settings
      description: This endpoint retrieves the settings of the authenticated user.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'internal server error'

security:
  - BearerAuth: []
